.el-table {
  th.el-table__cell {
    background-color: var(--playlist-row-striped) !important;
  }
  tr{
    background-color: var(--playlist-bg) !important;
    color: var(--main-text);
    &.playing {
      color: var(--player-theme);
    }
  }
  --el-fill-color-lighter: var(--playlist-row-striped);
  --el-fill-color-light: var(--playlist-row-hover);
  .el-table__cell {
    border-bottom: none !important;
    z-index: 0;
  }
  .el-table__inner-wrapper::before {
    height: 0;
  }
  .el-table__empty-block {
    background-color: var(--main-bg);
  }
}
.el-scrollbar__bar {
  z-index: 0;
}
.el-button-group+.el-button {
  margin-left: 12px;
}
.el-button-group .el-button--primary {
  &:first-child {
    border-right-color: var(--el-button-divide-border-color) !important;
  }
  &:last-child {
    border-left-color: var(--el-button-divide-border-color) !important;
  }
  &:not(:first-child):not(:last-child) {
    border-right-color: var(--el-button-divide-border-color) !important;
    border-left-color: var(--el-button-divide-border-color) !important;
  }
}
