html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100%;
}

ul, li {
    list-style: none;
}

a:focus, a:active {
    outline: none;
}

a, a:focus, a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
svg {
    vertical-align: middle;
}
