.player-slider {
  .el-slider {
    height: 10px;
    margin-top: 10px;
    --el-slider-main-bg-color: var(--player-theme);
    .el-slider__runway, .el-slider__bar {
      height: 2px;
      border-radius: 0;
    }
    .el-slider__button-wrapper {
      width: 10px;
      height: 10px;
      top: -9.5px;
      display: none;
    }
    .el-slider__runway:hover {
      .el-slider__button-wrapper {
        display: block;
      }
    }
    .el-slider__button {
      width: 8px;
      height: 8px;
    }
  }
}
.player-volume {
  .el-slider {
    --el-slider-main-bg-color: var(--player-theme);
    .el-slider__runway, .el-slider__bar {
      width: 4px;
      margin: 0;
    }
    .el-slider__button-wrapper {
      width: 35px;
      height: 35px;
    }
    .el-slider__button {
      width: 8px;
      height: 8px;
    }
  }
}
