
/* 默认主题：官方红 */
:root {
    --header-bg: rgb(236, 65, 65);

    --main-bg: rgb(255, 255, 255);
    --main-bg-light: rgb(242, 242, 242);
    --main-text: rgb(52, 52, 52);
    --player-theme: rgb(236, 65, 65);
    --player-theme-light: rgb(236, 105, 105);

    --aside-active-bg: rgb(246, 246, 247);
    --aside-active-text: rgb(49, 49, 49);
    --aside-border-right: rgb(224, 224, 244);

    --player-bg: rgb(255, 255, 255);
    --player-border-top: rgb(224, 224, 224);
    --player-toggle-bg: rgb(245, 245, 245);
    --player-toggle-bg-hover: rgb(229, 229, 229);

    // 播放列表斑马线条色
    --playlist-bg: rgb(250, 250, 250);
    --playlist-row-striped: rgb(255, 255, 255);
    --playlist-row-hover: rgb(245, 245, 245);
    .playlist-wrapper {
        --playlist-bg: rgb(255, 255, 255);
        --playlist-row-striped: rgb(250, 250, 250);
    }
}
/*  酷炫黑 */
.dark {
    --header-bg: rgb(34, 34, 37);

    --main-bg: rgb(43, 43, 43);
    --main-bg-light: rgb(54, 54, 54);
    --main-text: rgb(214, 214, 214);
    --player-theme: rgb(236, 65, 65);
    --player-theme-light: rgb(236, 105, 105);

    --aside-active-bg: rgb(51, 51, 51);
    --aside-active-text: rgb(197, 197, 197);
    --aside-border-right: rgb(69, 69, 69);

    --player-bg: rgb(34, 34, 37);
    --player-border-top: rgb(61, 61, 63);
    --player-toggle-bg: rgb(43, 43, 46);
    --player-toggle-bg-hover: rgb(57, 57, 59);

    // 播放列表斑马线条色
    --playlist-bg: rgb(47, 47, 47);
    --playlist-row-striped: rgb(43, 43, 43);
    --playlist-row-hover: rgb(63, 63, 63);
    .playlist-wrapper {
        --playlist-bg: rgb(54, 54, 54);
        --playlist-row-striped: rgb(58, 58, 58);
    }
}
/* 可爱粉 */
.pink {
    --header-bg: rgb(250, 112, 167);
    --player-theme: rgb(250, 112, 167);
    --player-theme-light: rgb(250, 142, 187);
}
/* 天际蓝 */
.blue {
    --header-bg: rgb(65, 167, 248);
    --player-theme: rgb(102, 158, 236);
    --player-theme-light: rgb(132, 178, 236);
}
/* 清新绿 */
.green {
    --header-bg: rgb(51, 170, 126);
    --player-theme: rgb(93, 174, 112);
    --player-theme-light: rgb(140, 190, 112);
}
/* 土豪金 */
.golden {
    --header-bg: rgb(224, 160, 79);
    --player-theme: rgb(251, 147, 72);
    --player-theme-light: rgb(255, 170, 102);
}
